version: 0.0.6.{build}-test

shallow_clone: true

environment:
  LUAROCKS_VER: 2.2.2
  OPENSSL_VER: 1.0.2d
  matrix:
  - LUA_VER: 5.1.5
  # - LUA_VER: 5.2.4
  #   NOCOMPAT: true
  # - LUA_VER: 5.3.1
  #   NOCOMPAT: true
  # - LJ_VER: 2.0.4

# Abuse this section so we can have a matrix with different Compiler versions
# Is there a better way? Like injecting an array in the matrix?
configuration:
 - 2013
 # - MinGW

platform:
  - x86
  # - x64

cache:
  - c:\lua -> appveyor.yml
  #- build\downloads -> appveyor.yml
  - C:\OpenSSL-Win32 -> appveyor.yml
  - C:\OpenSSL-Win64 -> appveyor.yml

init:

install:
# Make compiler command line tools available
- call .appveyor\set_compiler_env.bat
# Get Lua sources
- call .appveyor\install.bat

before_build:

build_script:
- luarocks make luasec-0.6alpha-2.rockspec OPENSSL_DIR=c:\OpenSSL-Win32

before_test:

test_script:
- echo "Testing..."
- call lua -v

on_success:
- echo "Generating artifacts"
- call .appveyor\artifacts.bat
